:root {
    --font-main: 'Montserrat', sans-serif;
    --white-lite: #F5F5F5;
    --black-lite: #353434;
    --main-lite: #adb8be;
    --fondo: linear-gradient(90deg, rgb(97, 44, 56) 0%, rgba(67, 62, 150, 1) 82%, rgba(14, 79, 182, 1) 100%, rgba(0, 212, 255, 1) 100%);
    --grid-lite: #636060a8;
    --blue: #2177a8;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-size: 18px;
    font-family: var(--font-main);
}

.cerrar-sesion {
    position: absolute;
    right: 0;
    background-color: rgb(161, 34, 34);
    padding: 7px;
    color: var(--white-lite);
    text-decoration: none;
    border-radius: 5px;
    justify-content: end;
    font-size: 13px;
}

h1 {
    color: rgba(14, 79, 182, 1);
    font-size: 30px;
    text-transform: uppercase;
}

.contenedor {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.add-tarea {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.add-tarea h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--white-lite);
}

.formulario {
    width: 100%;
    display: flex;
}

input {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    background-color: var(--white-lite);
    text-align: center;
    font-family: var(--font-main);
}

.title,
.date {
    width: 15%;
}

.add-tarea button {
    display: block;
    width: 150px;
    margin: 20px auto 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    font-size: 16px;
    color: var(--white-lite);
    margin-bottom: 30px;
    font-family: var(--font-main);
}

.formulario a {
    display: block;
    color: var(--blue);
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: var(--font-main);
}


/*****  AGREGAR TAREA****/

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-family: var(--font-main);
}

.thead {
    background-color: #2177a8;
    color: var(--white-lite);
    padding: 20px;
}

td,
th {
    padding: 5px;
    font-size: 14px;
    color: var(--white-lite);
    font-weight: 500;
}

th {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: var(--grid-lite);
}

td button {
    justify-content: end;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    height: 50%;
}


/*BTN ACCIONES*/

.btn {
    padding: 5px;
    border-radius: 5px;
    color: var(--white-lite);
}

.btn-delete {
    background-color: rgb(131, 35, 35);
    cursor: pointer;
}

.btn-update {
    background-color: rgb(55, 133, 55);
    cursor: pointer;
}